
<!DOCTYPE html>
<html lang="en">
<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
		background-image: url("https://cdn.pixabay.com/photo/2017/01/10/07/11/blood-1968458_1280.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding: 145px;
      }

    
	  h2 {
	    padding-bottom: 20px;
	  }
    h1 {
      text-shadow: 2px 2px 8px rgb(120, 218, 244);
    }
    
      .form-horizontal {
        display:inline-block; 
      }
      
  </style>
</head>
<body>
	<div align="center">
    <b><font size=4px>Book this Blood</font></b>
    <h1 class="display-1" style="font-family:Verdana;font-size:40px">Blood ID: {{ blood.id }}</h1>

    <div style="background-color:rgba(40,110,110,0.5); max-width:1000px; ">
    </br>
      <form action = {% url 'blood-booking' blood.id %} method="POST">
        {% csrf_token %}
        
          <b style="font-style:italic; font-size:25px">User: {{ user.username }}</b></p>
          <br><a style="font-weight:bold">Volume: </a>{{ form.volume }}<br>
  			  <font color=red size=2px>* this field is required</font> </p>
          <br><a style="font-weight:bold">Address to send: </a>{{ form.bookingaddress }}<br>
  			  <font color=red size=2px>* this field is required</font> </p>
  			  <br>
  			  <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </br>
    </div>
	</div>
</body>

